body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 20px;
}

h1 {
  text-align: center;
}

section {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
}

form input, select {
  padding: 6px;
  margin-right: 5px;
}

button {
  padding: 6px 12px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background: #eee;
}

tr:nth-child(even) {
  background: #f9f9f9;
}
.navbar {
  background: #222;
  padding: 10px;
}

.navbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.logout-btn {
  margin-left: auto;
  background: #c0392b;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.logout-btn:hover {
  background: #e74c3c;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.usuario-nav {
  margin-left:65%;
  padding: 3px;
  padding-right: 10px;

  background: #c0392b;
  color: white;
  border: none;


  border-radius: 4px;
}


/* ===== LOGIN ===== */

.login-body {
  height: 100vh;
  background: linear-gradient(135deg, #2c3e50, #34495e);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.login-card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 5px;
}

.login-subtitle {
  color: #777;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-card input:focus {
  outline: none;
  border-color: #3498db;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

.login-card button:hover {
  background: #2980b9;
}

.error {
  color: #e74c3c;
  margin-top: 10px;
  font-size: 14px;
}
